In [25]:
import pandas as pd

### Reading Json Data

In [4]:
import json
# load data using Python JSON module
with open('./data_files/ExportJson.json','r') as f:
    data = json.loads(f.read())
# Flatten data
df_nested_list = pd.json_normalize(data, record_path =['objects'])
df_nested_list

,ID,JobTitle,EmailAddress,FirstNameLastName,Newcolumn
0,1,Loan Officer,Florence_Giles7596@qater.org,Florence Giles,AECOM
1,2,Bellman,Marie_Rees2403@twipet.com,Marie Rees,It Smart Group
2,3,Restaurant Manager,Goldie_Tyler3986@deavo.com,Goldie Tyler,BuzzFeed
3,4,Executive Director,Matthew_Kirby6457@bauros.biz,Matthew Kirby,Zepter
4,5,Biologist,Erica_Utterson8472@twace.org,Erica Utterson,Amazon.com
...,...,...,...,...,...
95,96,Assistant Buyer,Nina_Coates1382@bungar.biz,Nina Coates,Amazon.com
96,97,Pharmacist,Tania_Jarvis9612@eirey.tech,Tania Jarvis,Team Guard SRL
97,98,Electrician,Rowan_Chester3198@womeona.net,Rowan Chester,Amazon.com
98,99,Web Developer,Luke_Watt7330@cispeto.com,Luke Watt,Comcast
99,100,Budget Analyst,Barney_Huggins2195@iatim.tech,Barney Huggins,BuzzFeed

### Reading Csv Data

In [5]:
df_csv = pd.read_csv("./data_files/ExportCSV.csv")
df_csv.columns = df_csv.columns.str.replace(" ","")

### Reading Excel Data

In [6]:
df_excel = pd.read_excel("./data_files/ExportExcel.xlsx")
df_excel.columns =df_excel.columns.str.replace(" ","")

### Concating Csv Json Excel Data

In [7]:
df = pd.concat([df_nested_list,df_csv,df_excel],axis=0)
df

,ID,JobTitle,EmailAddress,FirstNameLastName,Newcolumn
0,1,Loan Officer,Florence_Giles7596@qater.org,Florence Giles,AECOM
1,2,Bellman,Marie_Rees2403@twipet.com,Marie Rees,It Smart Group
2,3,Restaurant Manager,Goldie_Tyler3986@deavo.com,Goldie Tyler,BuzzFeed
3,4,Executive Director,Matthew_Kirby6457@bauros.biz,Matthew Kirby,Zepter
4,5,Biologist,Erica_Utterson8472@twace.org,Erica Utterson,Amazon.com
...,...,...,...,...,...
96,97,Front Desk Coordinator,Josh_Rosenbloom3717@qater.org,Josh Rosenbloom,Amazon.com
97,98,Cook,Barry_Walker6102@bretoux.com,Barry Walker,Comcast
98,99,Production Painter,Sara_Hopkinson9895@bretoux.com,Sara Hopkinson,Apple Inc.
99,100,Laboratory Technician,Melinda_Hancock6889@mafthy.com,Melinda Hancock,Comodo
100,data generated with OnlineDataGenerator available at: https://www.onlinedatagenerator.com,NaN,NaN,NaN,NaN

### Data Cleaning

In [8]:
df.shape

(301, 5)

In [9]:
df = df[:-1:]

In [10]:
df.columns

Index(['ID', 'JobTitle', 'EmailAddress', 'FirstNameLastName', 'Newcolumn'], dtype='object')

In [11]:
df.drop(columns = 'ID',inplace = True)

c:\Users\SAGAR\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
df.reset_index(inplace=True)

In [13]:
df.rename(columns = {'Newcolumn':'Company'}, inplace = True)

c:\Users\SAGAR\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
df["FirstName"] = df["FirstNameLastName"].apply(lambda x : x.split(" ")[0])
df["LastName"]  = df["FirstNameLastName"].apply(lambda x : x.split(" ")[1])
df["FirstName"] ,df["LastName"]

<ipython-input-14-9eb254e230f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["FirstName"] = df["FirstNameLastName"].apply(lambda x : x.split(" ")[0])
<ipython-input-14-9eb254e230f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LastName"]  = df["FirstNameLastName"].apply(lambda x : x.split(" ")[1])

(0      Florence
 1         Marie
 2        Goldie
 3       Matthew
 4         Erica
          ...
 295       Aeris
 296        Josh
 297       Barry
 298        Sara
 299     Melinda
 Name: FirstName, Length: 300, dtype: object,
 0           Giles
 1            Rees
 2           Tyler
 3           Kirby
 4        Utterson
           ...
 295       Norburn
 296    Rosenbloom
 297        Walker
 298     Hopkinson
 299       Hancock
 Name: LastName, Length: 300, dtype: object)

In [15]:
df.drop(columns= 'FirstNameLastName' ,inplace= True)

In [87]:
df.columns

Index(['index', 'JobTitle', 'EmailAddress', 'Company', 'FirstName',
       'LastName'],
      dtype='object')

In [21]:
df.JobTitle.value_counts().keys()

Index(['Cook', 'Front Desk Coordinator', 'Budget Analyst',
       'Laboratory Technician', 'Biologist', 'Assistant Buyer',
       'Healthcare Specialist', 'Business Broker',
       'Call Center Representative', 'Cash Manager', 'Loan Officer',
       'Operator', 'Ambulatory Nurse', 'Accountant', 'Health Educator',
       'Bellman', 'Staffing Consultant', 'Service Supervisor', 'Baker',
       'Webmaster', 'Bookkeeper', 'Production Painter', 'Design Engineer',
       'Dentist', 'Food Technologist', 'Physician', 'Steward',
       'Software Engineer', 'Machine Operator', 'Fabricator', 'Retail Trainee',
       'Pharmacist', 'Cashier', 'Clerk', 'Treasurer', 'Restaurant Manager',
       'Chef Manager', 'Doctor', 'Auditor', 'Project Manager', 'Inspector',
       'Executive Director', 'Stockbroker', 'Investment  Advisor',
       'Electrician', 'HR Coordinator', 'Designer', 'Banker',
       'Mobile Developer', 'Paramedic', 'Web Developer', 'HR Specialist',
       'IT Support Staff', 'CNC Operator', 'Lecturer',
       'Global Logistics Supervisor', 'Systems Administrator',
       'Insurance Broker', 'Audiologist'],
      dtype='object')

###  Connecting to Data Base

In [120]:
import psycopg2

conn = psycopg2.connect(database="postgres", user = "postgres", password = "password", host = "127.0.0.1", port = "5432")

print("Opened database successfully")

Opened database successfully

In [121]:
cursor = conn.cursor()
cursor.execute('drop table if exists user_data')

cursor.execute('''CREATE TABLE user_data
                (JobTitle TEXT NOT NULL,
            EmailAddress TEXT NOT NULL,
             Company TEXT NOT NULL,
              FirstName TEXT NOT NULL,
               LastName TEXT NOT NULL)''')


print("Table created sucessfully")

conn.commit()

Table created sucessfully

In [122]:
df.columns

Index(['index', 'JobTitle', 'EmailAddress', 'Company', 'FirstName',
       'LastName'],
      dtype='object')

### Inserting the Data in to Psql

In [123]:

# import packages
import psycopg2
import psycopg2.extras as extras
import pandas as pd
  
  
def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ','.join(list(df.columns))
  

    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    print(query)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()
    
    
data = df[['JobTitle', 'EmailAddress', 'Company', 'FirstName',
       'LastName']]
  
# using the function defined
execute_values(conn, data, 'user_data')

INSERT INTO user_data(JobTitle,EmailAddress,Company,FirstName,LastName) VALUES %s
execute_values() done

In [124]:
# data.to_sql('user_data', conn, if_exists= 'replace')
conn.commit()
conn.close()